
body{font-family: 'Roboto-Regular';background: #f5f5f5;}
header .navbar{padding: .5rem 0;}
header nav.navbar .navbar-brand{color:#fff;}
section.todo-outer {
    width: 100%;
    float: left;
    padding: 30px 0;
}
section.todo-outer h1 {
    font-size: 40px;
    margin-bottom: 20px;
}
.todo-inner {
    width: 100%;
    float: left;
    padding: 40px;
    box-shadow: 0px 0px 10px #c1c1c1;
    background: #fff;
}
table tr td button {
    background: no-repeat;
    border: none;
    padding: 0;
    cursor: pointer;
}
.task-box{
    margin-top: 20px;
    margin-right: 5px;
    padding: 0 20px 10px 25px;
  }
  .task-box.overflow{
    overflow-y: auto;
    max-height: 300px;
  }
  .task-box::-webkit-scrollbar{
    width: 5px;
  }
  .task-box::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 25px;
  }
  .task-box::-webkit-scrollbar-thumb{
    background: #e6e6e6;
    border-radius: 25px;
  }
  .task-box .task{
    list-style: none;
    font-size: 17px;
    margin-bottom: 18px;
    padding-bottom: 16px;
    align-items: flex-start;
    border-bottom: 1px solid #ccc;
  }
  .task-box .task:last-child{
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
  }
  .task-box .task label{
    display: flex;
    align-items: flex-start;
  }
  .task-box .settings{
    position: relative;
  }

  .task-box .task:last-child .task-menu{
    bottom: 0;
    transform-origin: bottom right;
  }
  .task-box .task:first-child .task-menu{
    bottom: -65px;
    transform-origin: top right;
  }

/* .completed{text-decoration: line-through;} */